#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pokemon-shape{
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
  filter: brightness(100) invert(1);
}

.pokemon-revealed {
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
}
